.blog-card-big_component .quiz-card_button,
.blog-card_component .quiz-card_button {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.blog-card-big_component:hover .quiz-card_button,
.blog-card_component:hover .quiz-card_button {
  opacity: 1;
}

.blog-card-big_component .quiz-card_button-text,
.blog-card_component .quiz-card_button-text {
  transform: translateX(-1rem);
  transition: transform 0.2s ease-out;
}

.blog-card-big_component:hover .quiz-card_button-text,
.blog-card_component:hover .quiz-card_button-text {
  transform: translateX(0rem);
}

.blog-card_icon-wrapper {
  scale: 1;
  transition: scale 0.2s ease-out;
}

.blog-card_button:hover .blog-card_icon-wrapper {
  scale: 1.1;
  background-color: var(--background-color--background-primary);
}
