@import './utils/css/navbar.css';
@import './utils/home/logo-loop.css';
@import './utils/css/swiper.css';
@import './utils/home/card-button.css';
@import './utils/temoignages/temoignages-cards.css';
@import './utils/blog/blog-card.css';
@import './utils/formations/formations-card.css';
@import './utils/livre-blanc/livre-blanc-card.css';
